externalip={{ ansible_default_ipv4.address }}
port=9033
rpcuser=5lqx1Vt69WsA9H2fcseupsrEVHqxOKUq
rpcpassword=Usah7utaWJ40YuHMXio9zBmoSa2Nx8QhwyaItnLGGZY1jDiR6v2i5jd6u1ew4bd8
rpcport=18231
rpcallowip=127.0.0.1
rpcworkqueue=512
server=1
daemon=1
listen=1
txindex=1
logtimestamps=1
tlscertpath=/etc/letsencrypt/live/{{ inventory_hostname }}/cert.pem
tlskeypath=/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
exportdir={{ zennode_wallet_dir }}
